# Django
DEBUG=False
SECRET_KEY=
ALLOWED_HOSTS=despachos.proasepsis.com,localhost
TIME_ZONE=America/Bogota

# Base de datos
DB_NAME=despacha
DB_USER=despacha
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432

# Google Drive (service account)
DRIVE_SERVICE_ACCOUNT_JSON=/secrets/drive-sa.json
DRIVE_ROOT_FOLDER_ID=

# SMTP (Google Workspace)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=sistema@proasepsis.com
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=Despacha <sistema@proasepsis.com>

# Entorno
ENVIRONMENT=production

# Superusuario para entrypoint.sh
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_EMAIL=admin@local
